<nav class="flex-navbar" [@Toggle]="state">
    <ul class="nav-left">
        <li class="nav-link-toggle-sidebar nav-link">
            <a href="#">
                <span class="caret-left"></span>
                <span class="glyphicon glyphicon-menu-hamburger" (click)="toggleSideBar()"></span>
            </a>
        </li>
        <li class="nav-link-search nav-link">
            <a href="#"><span class="glyphicon glyphicon-search"></span></a>
        </li>
    </ul>
    <ul class="nav-right">
        <li class="nav-link-add-project nav-link">
            <a href="#">
                <button class="add-project-btn">
                    <span class="plus-add-project">+</span>
                Add project
              </button>
            </a>
        </li>
        <li class="nav-link-message nav-link">
            <a href="#"><span class="glyphicon glyphicon-envelope "></span></a>
        </li>
        <li class="nav-bell nav-link-bell nav-link">
            <a href="#"><span class="glyphicon glyphicon-bell "><span class="badge">{{navBarItem.notifications}}</span></span></a>
        </li>
        <li class="nav-link-profile-img">
            <a href="#">
                <img class="img-profile" src="{{navBarItem.image}}" alt="profile">
                <span class="caret"></span>
            </a>
        </li>
    </ul>
</nav>