a:hover,
a:active,
a:visited,
a:link {
    text-decoration: none;
    color: none;
    background: none;
}

ul {
    margin: 0;
    padding: 0;
}

$font-roboto: 'Roboto',
sans-serif;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.flex-container {
    background: #f6f7fa;
    /* width: 100%; */
    padding: 90px 40px 100px 40px;
    @media (max-width: 1100px) {
        padding: 150px 30px 100px 20px;
    }
    margin-left: 270px;
    .user-name {
        font: {
            family: $font-roboto;
            weight: 500;
        }
    }
    .charts-flex,
    .lists-flex {
        display: flex;
        margin-top: 36px;
        flex: 1 1 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 1100px) {
            margin-left: 0;
            flex-direction: column;
        }
        .box {
            border: 1px solid #d4d9e3;
            background: #ffffff;
            @media (max-width: 1100px) {
                flex: 1 1 100%;
                margin-top: 36px;
            }
        }
    }
    .charts-flex {
        .sales,
        .report {
            height: 428px;
        }
        .sales {
            flex: 1 1 33%;
        }
        .report {
            flex: 2 1 55%;
            margin-left: 60px;
            @media (max-width: 1100px) {
                margin-left: 0;
            }
            padding: 5px;
            img {
                height: 400px;
                width: 100%;
            }
        }
    }
    .lists-flex {
        .tasks,
        .messages,
        .activities {
            flex: 1 1 25%;
        }
        .activities,
        .messages {
            margin-left: 50px;
            @media (max-width: 1100px) {
                margin-left: 0;
            }
        }
    }
}

.flex-card {
    .card-header,
    .card-line {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        height: 105px;
        border-bottom: 1px solid #eee;
        font: {
            family: $font-roboto;
            weight: bold;
        }
    }
    .card-line-activity {
        border-bottom: none;
    }
    .card-header {
        height: 88px;
        align-items: center;
        .card-header-name {
            font-size: 20px;
            margin: 0;
        }
        .badges {
            display: flex;
            flex-basis: 100px;
            justify-content: space-between;
        }
    }
    .card-badge,
    .card-badge-activity,
    .card-badge-tasks,
    .card-badge-messages,
    {
        background: #5384ff;
        @include border-radius(50%);
        flex-basis: 45px !important;
        height: 45px !important;
        color: white;
        text-align: center;
        line-height: 45px !important;
        font: {
            size: 18px;
            family: $font-roboto;
            weight: bold;
        }
        align-items: center;
    }
    .card-badge-two {
        @extend .card-badge;
        background: #f83c7b;
        margin-left: 10px;
    }
    .profile-img-activity,
    .profile-img-messages {
        height: 45px;
        width: 45px;
        @include border-radius(50%);
    }
    .activity-text,
    .task-text,
    .message-text {
        flex-basis: 100%;
        padding-left: 30px;
        font: {
            size: 16px;
            family: $font-roboto;
            weight: 500;
        }
    }
    .task-text {
        flex-basis: 86%;
    }
    .activity-text-gray {
        color: #a2acc2;
        font: {
            family: $font-roboto;
            weight: normal;
        }
    }
    .message-text {
        font-size: 13px;
        .message-name {
            font: {
                size: 16px;
            }
        }
        .message-time {
            color: #a2acc2;
            font: {
                weight: normal;
                size: 13px;
            }
        }
    }
    .glyphicon-option-vertical {
        font: {
            weight: normal;
            size: 20px;
        }
        .readed-bg {
            background: #f4f5f8;
        }
    }
    .glyphicon {
        color: #8492af;
    }
    .icon-flipped {
        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
    }
    .days {
        font: {
            weight: normal;
            size: 13px;
        }
        color: #a2acc2;
        .glyphicon {
            margin-right: 5px;
        }
    }
    .days-delay {
        color: #f84984;
    }
    .activity-text,
    .activity-body,
    .activity-time,
    .activity-name,
    .message-text,
    .message-body,
    .message-time,
    .message-name,
    .days,
    .first-line {
        margin: 0 0 2px;
    }
}

.side-bar-container {
    min-width: 270px;
    background: #0e1a35;
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    bottom: 0;
    .side-bar,
    app-nav-item {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        color: white;
        font: {
            family: $font-roboto;
        }
    }
}

.header {
    height: 70px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    div {
        display: flex;
        align-items: center;
        flex: 1 0 100%;
        h2 {
            margin: 0;
        }
    }
    .logo-image {
        text-align: center;
        height: 50px;
        width: 50px;
        margin-right: 15px;
    }
}

.sidebar-link {
    padding: 30px 40px;
    border-left: 13px solid #0e1a35;
    height: 80px;
    flex: 1 1 auto;
    font: {
        family: $font-roboto;
        size: 17px;
    }
    justify-content: center;
    &:hover {
        border-left: 13px solid #5584ff;
        background: #122143;
    }
    div {
        display: flex;
        align-items: center;
        flex: 1 0 100%;
    }
    .item-image {
        width: 17px;
        height: 17px;
        margin-right: 15px;
    }
    &:nth-child(2) {
        margin-top: 20px;
    }
}