<ul class="flex-card">
    <li class="card-header">
        <p class="card-header-name">Activity</p>
        <div class="badges">
            <span class="card-badge-empty"></span>
            <span class="card-badge ">{{notification}}</span>
        </div>
    </li>
    <li class="card-line card-line-activity" *ngFor="let activity of activities">
        <span class="card-badge-activity"><img src="{{activity.img}}" alt="{{activity.img}}" class="profile-img-activity card-badge-activity"></span>
        <span class="activity-text">
        <p class="first-line">{{activity.name}} <span class="activity-text-gray">{{activity.activity }}</span> {{activity.activityName}}</p>
        <p class="days"> <span class="glyphicon glyphicon-time"></span>{{activity.time}}</p>
        </span>
    </li>
</ul>